# Byte-compiled / optimized files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv

# VS Code
tempCodeRunnerFile.py
